<div class="modal-dialog">

    <div class="modal-content" id="modal-content">

        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h4 class="modal-title" id="myModalLabel">修改菜单规则</h4>

        </div>

        <div class="modal-body">
            <form id="add-form" class="form-horizontal form-ajax nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="" novalidate="novalidate">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">菜单:</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="radio">
                            <label ><input  checked="checked"  type="radio" value="1" v-model="entity.is_menu" v-bind:value="1"> 是</label>
                            <label ><input  type="radio" value="0" v-model="entity.is_menu" v-bind:value="0"> 否</label></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">标题:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" v-model="entity.title" >
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-xs-12 col-sm-2">规则:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" v-model="entity.name"  placeholder="父级菜单无需匹配控制器和方法,子级菜单请使用控制器名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">父级:</label>
                    <div class="col-xs-12 col-sm-8">
                        <select class="form-control" v-model="entity.pid">
                            <option v-bind:value="0">无</option>
                            <option v-for="option in parents" v-bind:value="option.id">
                                {{'---'|repeat(option.lev)}}{{ option.title }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="icon" class="control-label col-xs-12 col-sm-2">图标:</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group input-groupp-md">
                            <input type="text" class="form-control" id="icon" v-model="entity.icon" >
                            <a href="{$resDomain}/adminlte/pages/UI/icons.html" target="_blank" class="btn-search-icon input-group-addon">搜索图标</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-xs-12 col-sm-2">权重:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" v-model="entity.sort">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-xs-12 col-sm-2">规则条件:</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea class="form-control" v-model="entity.condition"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-xs-12 col-sm-2">备注:</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea class="form-control" v-model="entity.remark"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-xs-12 col-sm-2">右侧内容:</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea class="form-control" v-html="entity.menu_right" ref="menu_right"  placeholder="如果是菜单右侧需要显示小图标之类的内容可以写在这里"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">状态:</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="radio">
                            <label v-for="option in status_type" >
                                <input type="radio" v-model="entity.status" v-bind:value="option.value"> {{ option.title }}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">

            <button type="button" class="btn btn-success" v-on:click="submit">保存</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>

        </div>

    </div>
</div>
<script>
    var modalApp = new Vue({
        el: '#modal-content',
        data: {
            api:{
                getData: "{:url('editQuery', ['id' => $id])}",
                editApi: "{:url('auth.rule/edit', ['id' => $id])}",
                ruleApi: "{:url('auth.rule/getTree')}",
            },
            entity: {},
            parents: [],
            status_type: [
                {'value': 'normal', 'title': '显示'},
                {'value': 'hidden', 'title': '隐藏'}
            ],
            requestIng: false,
        },
        methods: {
            getData: function () {
                var that = this;
                RequestUtil.post(this.api.getData, {}, function (result) {
                    that.entity = result.data;
                }, function () {
                    that.requestIng = true;
                    Notify.error('初始化数据失败');
                });
            },
            submit: function (event) {
                var that = this;
                if(that.requestIng)
                {
                    return false;
                }
                that.requestIng = true;
                that.entity.menu_right = $(this.$refs.menu_right).val();
                RequestUtil.post(that.api.editApi, RequestUtil.getVueParams(this.entity, ['is_menu', 'pid', 'name', 'title', 'icon', 'sort', 'condition', 'remark', 'menu_right', 'status']), function (result) {
                    that.requestIng = false;
                    Notify.success(result.info)
                    listApp.getData();
                    $("#modal").modal('hide');
                },
                function () {
                    that.requestIng = false;
                });
            }
        },
        mounted: function () {
            var that = this;
            that.getData();
            RequestUtil.post(that.api.ruleApi, {status: 'normal'}, function (result) {
                that.parents = result.data;
            });
        }
    })
</script>